* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #cec3b1;
}

header {
    display: flex;
    flex-direction: row;
    margin: 3rem auto 0;
}

.right-side {
    display: flex;
    align-items: center;
}

.pixelify-sans-h2, .contain2 p {
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
}

main section {
    display: flex;
    margin: 3rem auto 0;
    justify-content: center;
}

main section img {
    width: 200px;
}

.contain {
    display: flex;
    flex-direction: row;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    gap: 1rem;
}

#github, #linkedin {
    transition: 0.2s;
}

#github:hover {transform: scale(1.2);}
#linkedin:hover {transform: scale(1.2);}

.socials img {
    width: 50px;
}

.contain2 p {
    font-family: "Pixelify Sans", sans-serif;
    color: #333;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    margin: 3rem auto 0;
    text-align: center;
    width: 500px;
    box-shadow: 10px 5px 5px black;
    background-color: #fdfdfd;
}

.contain2 h3, .projetos h3 {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.carrossel {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 25rem;
    justify-content: center;
    margin: 3rem auto 0;
    box-shadow: 10px 5px 5px black;
}

.carrossel img {
    width: 60px;
    padding: 5px;
}

.carrossel-title h3, footer h3 {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 3rem;
}

.projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projetos h3 {
    margin-top: 3rem;
}

.projetos p {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.projects-grade {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 3rem auto 0;
    background-color: #fdfdfd;
    box-shadow: 10px 5px 5px black;
}

.p-left-side, .p-right-side {
    padding: 0.5rem;
}

.p-left-side p, .p-right-side p {
    width: 100px;
    color: #333;
}

#database, #hdchost, #tabuada, #qr {
    transition: 0.2s;
}

#database:hover {transform: scale(1.2);}
#hdchost:hover {transform: scale(1.2);}
#tabuada:hover {transform: scale(1.2);}
#qr:hover {transform: scale(1.2);}

.items {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.items2 {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.projects-grade .items img{
    width: 100px;
}

.projects-grade .items2 img {
    width: 99px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	color: #ffff;
	margin-bottom:100px;
	font-family: Arial;
}

form textarea, form input[type=text] {
    box-shadow: 10px 5px 5px black;
}

form input, form textarea {
	outline: unset;
	padding: 20px;
	width: 200px;
    border: none;
}

form input [type="submit"] {
	width: 500px;
}

form input:focus, form textarea:focus {
	background-color: #a4b8ec;
}

form input[type = submit] {
	background-color: #121212;
	color: #ffff;
	cursor: pointer;
}

form label {
	margin-left: 10px;
	padding: 5px;
    font-family: "Pixelify Sans", sans-serif;
    color: #fdfdfd;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}

#mensagem {
    resize: none;
}

/* Responsividade: começando com Mobile S 320px */
@media (max-width: 320px) {

    body { overflow-x: hidden; }

    header img {
        width: 70%;
    }

    main section {
        margin: 0;
    }

    main section img {
        position: relative;
        right: 40px;
    }

    .socials {
        flex-direction: row;
        margin-left: 6rem;
    }

    .contain {
        flex-direction: column;
    }

    #github, #linkedin {
        width: 40px;
    }

    .right-side {
        position: relative;
        right: 85px;
    }

    header {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
    }

    .pixelify-sans-h2, .contain2 p {
        font-size: 20px;
        width: 50%;
      }

      .contain2 p {
        font-size: 15px;
        margin-left: 1.5rem;
        width: 200px;
    }

    .carrossel {
        width: 230px;
        justify-content: center;
        margin-left: 0.3rem;
    }
    
    .carrossel img {
        width: 30px;
        padding: 0;
        margin: 0;
        position: relative;
        right: 5px;
    }
    
    .contain2 h3 {
        font-size: 30px;
        text-align: start;
        margin-left: 5.1rem;
        margin-top: 2rem;
    }
    
    .carrossel-title h3, footer h3 {
        font-size: 30px;
        margin-top: 1rem;
    }

    .carrossel-title h3 {
        text-align: start;
        margin-left: 2.5rem;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .projetos h3 {
        margin-top: 3rem;
        text-align: start;
        margin-left: 3.4rem;
        font-size: 30px;
    }
    
    .projetos p {
       display: none;
    }
    
    .projects-grade {
        margin-left: 1.5rem;
        width: 200px;
    }

    
    .projects-grade .items img{
        width: 70px;
    }
    
    .projects-grade .items2 img {
        width: 70px;
    }

    footer {
        align-items: start;
        margin-left: 1.5rem;
    }
    
    form {
        margin-bottom:50px;
    }
    
    
    form input, form textarea {
        outline: unset;
        padding: 20px;
        width: 200px;
        border: none;
    }
    
    form input [type="submit"] {
        width: 100px;
    }

    
    form label {
        margin-left: 0;
        padding: 5px;
    }

}

/* Mobile M 375px */
    @media (max-width: 380px) {
        body { overflow-x: hidden; }

        header img {
            width: 80%;
            margin-left: 1rem;
        }

    main section img {
        position: relative;
        right: 25px;
    }

    .right-side {
        position: relative;
        right: 40px;
    }

    .contain2 p{
        width: 300px;
    }

        .contain2 h3 {
        font-size: 30px;
        text-align: start;
        margin-left: 9rem;
        margin-top: 2rem;
    }
    
    .carrossel {
        width: 360px;
        justify-content: center;
    }

    .carrossel-title h3, footer h3 {
        font-size: 30px;
        margin-top: 1rem;
    }

    .carrossel-title h3 {
        text-align: start;
        margin-left: 6rem;
    }

    .projetos h3 {
        font-size: 30px;
    }

    .projetos p {
        display: none;
     }

    .projects-grade {
        margin-left: 1rem;
        width: 200px;
        padding: 0;
        margin-bottom: 5rem;
        justify-content: center;
    }

    .projects-grade .items #hdchost, #database{
        width: 90px;
    }
    
    .projects-grade .items2 #tabuada, #qr {
        width: 90px;
    }
}

/* Mobile L 425px*/
@media (max-width: 425px) {
    .contain2 p {
        width: 80%;
    }

    .projects-grade {
        width: 90%;
    }

    .projects-grade .items img{
        width: 50px;
    }
    
    .projects-grade .items2 img {
        width: 50px;
    }
}
